body {
    background-color: #b8d1ec; /* color de fondo celeste */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fuente principal y alternativas */
}

/* Estilo para títulos */
h1 {
    color: #1e07f0; /* color verde claro para el texto */
    text-align: center; /* centra el título */
    text-transform: uppercase; /* convierte el texto en mayúsculas */
}

/* Estilo para las imágenes */
img {
    border: 3px solid #0a0a0a; /* borde negro de 3px */
    border-radius: 12px; /* esquinas redondeadas */
    transition: transform 0.3s; /* animación suave al hacer hover */
}


/* Estilo para los enlaces */
a {
    color: #ee009f; /* color rosa fuerte para los enlaces */
    text-decoration: none; /* sin subrayado por defecto */
}

a:hover {
    text-decoration: underline; /* subraya el enlace al pasar el mouse */
}

p{
    color: rgb(1, 148, 38);
}


.destacados{
    color: rgb(255, 8, 8);
    font-weight: bold;
    font-style: italic;
}
